
@{
    ViewBag.Title = "Αιτούντες γονείς";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a.imglink01 {
        background: url("~/Images/metro/teacher-person02.png") no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }
    .buttonImg{
        background-color: #2E8CEF;
    }
    .buttonImg:hover{
        background-color: #ffffff;
    }
    .col-md-4{
        color: #00008b;
        font-family:'Segoe UI';
    }

    .inline-picture {
        float: left;
        margin: 30px 30px 20px 30px;
        text-align: center;
    }

    .inline-picture img {
        display: block;
        margin-bottom: 10px;
    }
</style>

<head>
    <title></title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <p />
    <table class="body-content">
        <tr>
            <td>
                <h1>
                    Σελίδα ηλεκτρονικής αίτησης εγγραφής παιδιών στους Β.Ν.Σ.
                    <img src="~/Images/metro/dypa-logo.png" width="60" height="40" style="margin-left:5px" />
                </h1>
            </td>
            <td>
                <button class="btn btn-danger" style="margin:10px 5px 5px 80px;float:right;font-family:'Segoe UI';font-size:15px" onclick="showAttention()">Διαβάστε αυτό!</button>
            </td>
        </tr>
    </table>
    <p></p>
    <table class="list-group">
        <tr class="list-group-item">
            <td style="background-color:#2E8CEF">
                <div class="col-md-2 tooltip1">
                    <a href='@Url.Action("ParentsEdit", "Parents")'>
                        <img class="img-app" src='@Url.Content("~/Images/menu/person.png")' height="60" width="60" />
                    </a>
                    <span class="tooltip1text">Καταχώρηση ατομικών στοιχείων γονέων βρεφονηπίου</span>
                </div>
            </td>
            <td>
                <div class="col-md-9" style="margin-left:50px">
                    <p style="font-size:large;color:black">
                        <a href='@Url.Action("ParentsEdit", "Parents")' style="font-weight:bold">1. Ατομικά στοιχεία γονέων</a>
                    </p>
                    <p style="font-size:16px">
                        Από την επιλογή αυτή συμπληρώνονται τα ατομικά στοιχεία, των γονέων ή του γονέα που υποβάλλει αίτηση,
                        τα οποία ζητούνται από την ηλεκτρονική φόρμα. Τα προσωπικά στοιχεία συμπληρώνονται μόνο μια φορά και
                        συνδέονται με κάθε αίτηση που υποβάλλετε.
                    </p>
                </div>
            </td>
        </tr>
        <tr class="list-group-item">
            <td style="background-color:#2E8CEF">
                <div class="col-md-2 tooltip1">
                    <a href='@Url.Action("ChildrenData", "Parents")'>
                        <img class="img-app" src='@Url.Content("~/Images/menu/doc-add.png")' height="60" width="60" />
                    </a>
                    <span class="tooltip1text">Καταχώρηση στοιχείων παιδιών για εγγραφή ή επανεγγραφή</span>
                </div>
            </td>
            <td>
                <div class="col-md-9" style="margin-left:50px">
                    <p style="font-size:large;color:black">
                        <a href='@Url.Action("ChildrenData", "Parents")' style="font-weight:bold">2. Καταχώρηση στοιχείων παιδιών</a>
                    </p>
                    <p style="font-size:16px">
                        Με την επιλογή αυτή συμπληρώνετε τα στοιχεία που ζητούνται από την
                        ηλεκτρονική φόρμα. Την επιλογή αυτή χρησιμοποιείτε για να καταχωρήσετε τα
                        στοιχεία κάθε παιδιού σας για εγγραφή σε ΒΝΣ.
                    </p>
                </div>
            </td>
        </tr>
        <tr class="list-group-item">
            <td style="background-color:#2E8CEF">
                <div class="col-md-2 tooltip1">
                    <a href='@Url.Action("StatementEdit", "Parents")'>
                        <img class="img-app" src='@Url.Content("~/Images/menu/doc-copy.png")' height="60" width="60" />
                    </a>
                    <span class="tooltip1text">Υποχρεωτική υποβολή δήλωσης στοιχείων γονέων</span>
                </div>
            </td>
            <td>
                <div class="col-md-9" style="margin-left:50px">
                    <p style="font-size:large;color:black">
                        <a href='@Url.Action("StatementEdit", "Parents")' style="font-weight:bold">3. Δήλωση στοιχείων γονέων</a>
                    </p>
                    <p style="font-size:16px">
                        Με την επιλογή αυτή μπορείτε να καταχωρήσετε και να εκτυπώσετε τη δήλωση στοιχείων
                        που πρέπει να συνοδεύει τις αιτήσεις εγγραφής/επανεγγραφής των παιδιών σας. Για εκτύπωση πρέπει
                        πρώτα να υποβάλλετε τουλάχιστον μια αίτηση στην επιλογή 4.
                    </p>
                </div>
            </td>
        </tr>
        <tr class="list-group-item">
            <td style="background-color:#2E8CEF">
                <div class="col-md-2 tooltip1">
                    <a href='@Url.Action("AitisisData", "Parents")' title="Καταχώρηση και επεξεργασία αιτήσεων">
                        <img class="img-app" src='@Url.Content("~/Images/menu/doc-edit.png")' height="60" width="60" />
                    </a>
                    <span class="tooltip1text">Καταχώρηση και επεξεργασία υποβαλλόμενων αιτήσεων</span>
                </div>
            </td>
            <td>
                <div class="col-md-9" style="margin-left:50px">
                    <p style="font-size:large;color:black">
                        <a href='@Url.Action("AitisisData", "Parents")' style="font-weight:bold">4. Υποβολή και διαχείριση αιτήσεων</a>
                    </p>
                    <p style="font-size:16px">
                        Από εδώ μεταβαίνετε στη σελίδα υποβολής και διαχείρισης των αιτήσεων που υποβάλλετε.
                        Μπορείτε να κάνετε αλλαγές σε μια ή περισσότερες αιτήσεις, ανάλογα με τον αριθμό παιδιών.
                        Οι αιτήσεις γίνονται στον ίδιο σταθμό και μπορείτε να τις εκτυπώσετε αν επιθυμείτε.
                    </p>
                </div>
            </td>
        </tr>
        <tr class="list-group-item">
            <td style="background-color:#2E8CEF">
                <div class="col-md-2 tooltip1">
                    <a href='@Url.Action("UploadData", "Parents")'>
                        <img class="img-app" src='@Url.Content("~/Images/menu/doc-upload.png")' height="60" width="60" />
                    </a>
                    <span class="tooltip1text">Μεταφόρτωση σαρωμένων δικαιολογητικών στον εξυπηρετητή</span>
                </div>
            </td>
            <td>
                <div class="col-md-9" style="margin-left:50px">
                    <p style="font-size:large;color:black">
                        <a href='@Url.Action("UploadData", "Parents")' style="font-weight:bold">5. Μεταφόρτωση δικαιολογητικών αιτήσεων</a>
                    </p>
                    <p style="font-size:16px">
                        Με την επιλογή αυτή μπορείτε να ανεβάσετε τα δικαιολογητικά σας σε μορφή PDF
                        στον εξυπηρετητή της εφαρμογής για έλεγχο από τους ΒΝΣ. Εναλλακτικά, μπορείτε
                        να τα ταχυδρομήσετε εάν η διαδικασία αυτή σας δυσκολεύει.
                    </p>
                </div>
            </td>
        </tr>
        <tr class="list-group-item">
            <td style="background-color:#2E8CEF">
                <div class="col-md-2 tooltip1">
                    <a href='@Url.Action("AitisisResults", "Parents")' title="Ενημέρωση αποτελεσμάτων αξιολόγησης">
                        <img class="img-app" src='@Url.Content("~/Images/menu/results.png")' height="60" width="60" />
                    </a>
                    <span class="tooltip1text">Ενημέρωση για τα αποτελελέσματα αξιολόγησης των αιτήσεων</span>
                </div>
            </td>
            <td>
                <div class="col-md-9" style="margin-left:50px">
                    <p style="font-size:large;color:black">
                        <a href='@Url.Action("AitisisResults", "Parents")' style="font-weight:bold">6. Ενημέρωση για την αξιολόγηση αιτήσεων</a>
                    </p>
                    <p style="font-size:16px">
                        Με την επιλογή αυτή μπορείτε να ενημερωθείτε αναλυτικά για τα αποτελέσματα της διαδικασίας αξιολόγησής σας.
                        Εκτός των άλλων, συνιστά ένα βοήθημα στη σύνταξη των πιθανών ενστάσεων, ώστε αυτές να είναι σαφείς και συνεκτικές.
                    </p>
                </div>
            </td>
        </tr>
        <tr id="info" class="list-group-item" style="background-color:lightgray">
            <td>
                <img src='@Url.Content("~/Images/metro/information-icon-blue.png")' height="30" width="30" style="margin-top:0px;margin-right:10px" />
            </td>
            <td>
                <div class="col-md-12" style="margin-left:10px;margin-top:5px">
                    <p style="font-size:16px;font-style:italic">
                        <font style="color:#00008b;">Για να μεταβείτε στην επιθυμητή σελίδα κάνετε κλικ στο αντίστοιχο εικονίδιο ή στην επικεφαλίδα.</font>
                    </p>
                </div>
            </td>
        </tr>
    </table>

</body>

<div id="modalWindow">
    <div class="inline-picture">
        <img src='@Url.Content("~/Images/metro/information-icon-blue.png")' height="100" width="100" alt="Προσοχή!" />
    </div>
    <p style="margin-top:10px;font-size:16px">
        Συνιστούμε την προσοχή σας να μη ξεχνάτε να συμπληρώσετε τα απαιτούμενα στοιχεία
        στη "Δήλωση στοιχείων γονέα". Άν δεν καταχωρήσετε δήλωση στοιχείων δεν θα
        μοριοδοτηθείτε και δεν θα εμφανίζεστε στους Πίνακες Αξιολόγησης!
    </p>
    <p style="font-size:16px">
        Η "Δήλωση στοιχείων" είναι η 3η επιλογή στη σελίδα αυτή.
    </p>
    <div style="margin-left:0px;margin-top:20px;text-align:center;">
        <button id="close" class="k-button" style="margin-left:5px">Κλείσιμο</button>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        wnd = $("#modalWindow").kendoWindow({
            title: "Δήλωση στοιχείων γονέα",
            modal: true,
            visible: false,
            resizable: false,
            height: 220,
            width: 600
        }).data("kendoWindow");

    });

    function showAttention() {
        // Open user-dialog window
        wnd.center().open();

        $("#close").click(function () {
            wnd.close();
        });
    }

    $(".img-app").hover(function () {
        $(this).attr("src", function (index, attr) {
            return attr.replace(".png", "-active.png");
        });
    }, function () {
        $(this).attr("src", function (index, attr) {
            return attr.replace("-active.png", ".png");
        });
    });

</script>
